<main>
    <p id="notice"></p>
    <div class="container">
        <div class="row">
            
        <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
        
            <h2>レシピ一覧</h2>
            
            <table class="table">
                <thead>
                        <tr>
                            <th>料理画像</th>
                            <th>レシピ名</th>
                            <th>料理のジャンル</th>
                            <th>製作時間</th>
                            <th></th>
                        </tr>
                </thead>
                
                <tbody>
                    <% @recipes.each do |recipe| %>
                        <tr>
                            <th><%= image_tag recipe.get_image, size: "100x100" %></th>
                            <th><%= recipe.name %></th>
                            <th><%= recipe.genre %></th>
                            <th><%= recipe.time %>分</th>
                            <th><%= link_to "詳細はこちらから", admin_recipe_path(recipe.id), class: "btn btn-sm btn-primary" %></th>
                        </tr>
                    <% end %>
                </tbody>
                
            </table>
            
        </div>    
        </div>
    </div>
        
</main>